rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthed() {
      return request.auth != null;
    }

    function matchesAuthedUser(userId) {
      return isAuthed() && request.auth.uid == userId;
    }

    match /entries/{document=**} {
      allow read: if matchesAuthedUser(resource.data.userId);
      allow create: if matchesAuthedUser(request.resource.data.userId);
      allow update: if matchesAuthedUser(request.resource.data.userId) && matchesAuthedUser(resource.data.userId);
      allow delete: if matchesAuthedUser(resource.data.userId);
    }
  }
}
